html,
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

.header {
  background-color: red;
  text-align: center;
  padding: 40px;
  color: white;
}

.row {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 40%;
}

.main {
  background-color: lightskyblue;
  text-align: center;
  color: white;
  padding: 30px;
  flex: 80%%;
  order: 2;
}

.aside {
  background-color: salmon;
  text-align: center;
  padding: 30px;
  flex: 30%;
}

.nav {
  background-color: springgreen;
  text-align: center;
  padding: 30px;
  flex: 30%;
}

.footer {
  background-color: steelblue;
  padding: 10px;
}
